/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .width-quarter {
    width: 25%;
 }

 .width-half {
    width: 50%;
 }

 .width-tres {
    width: 75%;
 }

 .width-full {
    width: 100%;
 }

 .site-background {
   background: #E8E8E8;
 }

 .active-tab {
  background-color: #C0C0C0 !important;
 }


 .active-list-item {
  background-color: #B8B8B8 !important;
 }

 .navbar-linkssssss {
   padding-top: 10px; 
   padding-bottom: 10px;
 }

 .table-row-height {
   height: 70px;
 }

 .password-table {
    background-color: #F1F2F1;
 }
